

	   		<!-- Fixed navbar -->


			<!-- Begin page content -->
			<main class="flex-shrink-0">
			  <div class="container">

			  		<div class='card'>
					    <div class='card-header'>
					        <h5>Visualizza dettaglio</h5>
					    </div>


					    <div class='card-body' *ngIf="risorsaDetail">
					    	<dl class="row">
							  <dt class="col-sm-3 text-right">Id:</dt>
							  <dd class="col-sm-9">{{risorsaDetail.id}}</dd>
					    	</dl>

					    	<dl class="row">
							  <dt class="col-sm-3 text-right">Nome:</dt>
							  <dd class="col-sm-9">{{risorsaDetail.nome}}</dd>
					    	</dl>

					    	<dl class="row">
							  <dt class="col-sm-3 text-right">Cognome:</dt>
							  <dd class="col-sm-9">{{risorsaDetail.cognome}}</dd>
					    	</dl>

                <dl class="row">
							  <dt class="col-sm-3 text-right">Codice Fiscale:</dt>
							  <dd class="col-sm-9">{{risorsaDetail.codiceFiscale}}</dd>
					    	</dl>

                <dl class="row">
							  <dt class="col-sm-3 text-right">Email:</dt>
							  <dd class="col-sm-9">{{risorsaDetail.email}}</dd>
					    	</dl>

					    	<dl class="row">
							  <dt class="col-sm-3 text-right">Data Assunzione :</dt>
							  <dd class="col-sm-9">{{ risorsaDetail.dataIn | date : "dd/MM/yyyy" }}</dd>
					    	</dl>
					    	<dl class="row" *ngIf="risorsaDetail.dataOut">
							  <dt class="col-sm-3 text-right">Data Dimissione :</dt>
							  <dd class="col-sm-9">{{ risorsaDetail.dataOut | date : "dd/MM/yyyy" }}</dd>
					    	</dl>
					    	<dl class="row">
							  <dt class="col-sm-3 text-right">Costo Giornaliero:</dt>
							  <dd class="col-sm-9">{{ risorsaDetail.costoGiornaliero}}</dd>
					    	</dl>

                <dl class="row">
                  <dt class="col-sm-3 text-right">CV:</dt>
                  <dd class="col-sm-9">
                    <a href="#" (click)="downloadCV(risorsaDetail!.cv!.id!)">Scarica CV</a>
                  </dd>
                </dl>


					    <!-- end card body -->
              <div class='card-footer'>
                <a routerLink="/risorsa/list" class='btn btn-outline-secondary' style='width:80px'>
                    <i class='fa fa-chevron-left'></i> Back
                </a>
            </div>

					    </div>
					<!-- end card -->
					</div>


			  <!-- end container -->
			  </div>

			</main>

			<!-- Footer -->

